Requirements:
npm install @stripe/react-stripe-js @stripe/stripe-js
npm install @stripe/stripe-js

Dependencies:
npm install
npm install axios react-router-dom react-toastify


tailwindcss.com
npm install -D tailwindcss postcss autoprefixer
npx tailwindcss init -p


https://www.color-hex.com/
https://www.color-hex.com/color/ffbbc3

https://fonts.google.com/specimen/Outfit

https://fonts.google.com/selection/embed
@import 
copy + paste at index.css

#REACT TOASTIFY
https://www.npmjs.com/package/react-toastify
go to the Gist and copy code